<div style="text-align:center">
<form class="registrationForm">
  <div class="register">Registration Form</div> <br>
  <div class="name">Name :
    <input style="width: 150px;"type="name" placeholder="Enter your name">
  </div>
  <div>Age :
    <input style="width: 150px;" type="age" placeholder="Enter your age">
  </div>
  <div>Mobile Number :
    <input style="width: 170px;" type="number" placeholder="Enter your Mobile Number">
  </div>
  <div>Email ID :
    <input style="width: 150px;" type="email" placeholder="Enter your Email ID">
  </div>
  <div>Password :
    <input style="width: 150px;" type="password" placeholder="Enter your Password">
  </div><br>
  <div class="name">
    <button (click)="submit()">Submit</button>
  </div>

</form>
</div>
